/* You can add global styles to this file, and also import other style files */
@use './tailwind.css';
@use './layout/layout.scss';
@use 'primeicons/primeicons.css';
@use './demo/demo.scss';

.layout-sidebar {
    width: 17rem;
}
@media (min-width: 992px) {
    .layout-wrapper.layout-static .layout-main-container {
        margin-left: 19rem;
    }
}


div.p-datatable-table-container {
    overflow: unset !important;
}
